node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Firebase Service Account
service-account.json

# Local Uploads
public/uploads/*
!public/uploads/.gitkeep
